.empresa {
  background: #fafafa;
  border-radius: 14px;
  padding: 25px 30px;
  margin-bottom: 32px;
  border: 1px solid #eaeaea;
  box-shadow: 0 3px 12px rgba(0,0,0,0.03);
}


.empresa-ano {
  font-size: 0.9rem;
  color: var(--cinza-medio);
}

.empresa-titulo {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--preto);
  margin: 5px 0;
}

.empresa-subtitulo {
  font-size: 1rem;
  color: #555;
}

.empresa-paragrafo {
  font-size: 1rem;
  color: #444;
  margin: 10px 0 15px;
}

.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.empresa-habilidades li {
  background: white;
  padding: 8px 14px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 0.95rem;
}
