.footer {
  background: #111;
  padding: 40px 20px;
  text-align: center;
  color: white;
  margin-top: 80px;
}

.footer p {
  margin-bottom: 10px;
  font-size: 1rem;
}

.footer a {
  color: #ffffff;
  font-weight: bold;
}

.footer a:hover {
  color: var(--azul);
  transition: 0.3s;
}
