@import "./global.css";
@import "./header.css";
@import "./layout.css";
@import "./subtitulos.css";
@import "./introducao.css";
@import "./experiencia.css";
@import "./formacao.css";
@import "./projetos.css";
@import "./footer.css";
